.header {
  display: flex;
  align-items: center;

  padding: 24px 120px;
  background-color: #f2f4f7;
  border-bottom: 1px solid #f2f4f7;
}

.logoSvg {
  width: 104px;
  height: 16px;
  display: block;
}

.nav {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-left: auto;
}

.navLink {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  line-height: 20px;
  text-align: center;
  color: #101828;
}

.navLink:hover {
  color: #0b44cd;
}

.navLink.active {
  color: #0b44cd;
}
