.header {
  width: 100%; /* хедер на всю ширину */
  display: flex;
  align-items: center;
  justify-content: space-between; /* логотип ліворуч, навігація праворуч */
  padding: 24px 16px; /* базовий горизонтальний падінг для мобільних */
  background-color: aquamarine;
  border-bottom: 1px solid #f2f4f7;
  box-sizing: border-box; /* щоб падінги не додавали ширину */
}
.nav {
  display: none;
}
.burgerButton {
  background: none; /* прибирає фон */
  border: none; /* прибирає рамку */
  padding: 0; /* прибирає внутрішні відступи */
  margin: 0; /* якщо треба */
  cursor: pointer; /* змінює курсор на pointer */
  display: flex; /* щоб svg центрувався, якщо потрібно */
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .burgerButton {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;

    padding: 24px 80px;
    background-color: aquamarine;
    /*  background-color: #f2f4f7; */
    border-bottom: 1px solid #f2f4f7;
  }

  .logoSvg {
    width: 104px;
    height: 16px;
    display: block;
  }

  .nav {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: auto;
  }

  .navLink {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    line-height: 20px;
    text-align: center;
    color: #101828;
  }

  .navLink:hover {
    color: #0b44cd;
  }

  .navLink.active {
    color: #0b44cd;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    padding: 24px 120px;
  }
}
