.input,
.textarea {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;

  background-color: transparent;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  line-height: 24px;

  color: #101828;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8d929a;
}

.input,
.textarea {
  width: 100%;
  padding: 14px 20px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
  background: #f7f7f7;

  font-weight: 500;
  font-size: 16px;

  line-height: 20px;

  color: #8d929a;
}

.textarea {
  resize: vertical;
  min-height: 88px;
  resize: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  background: #3470ff;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;

  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 20px;

  color: #fff;
  margin-top: 24px;
  align-self: center;
}

.button:hover {
  background-color: #005bb5;
}
