.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-top: 42px;
  margin-bottom: 32px;
  /* margin-top: 84px;
  margin-bottom: 56px; */
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  position: relative;
  gap: 8px;
}

.label {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 12px;

  line-height: 16px;
  line-height: 133%;
  color: #8d929a;
}

.selectWrapper {
  display: flex;
  flex-direction: row;
  gap: 32 px;
}

.mileageWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mileageField {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.mileageFieldsRow {
  display: flex;
  flex-direction: row;
}

.mileageField {
  flex: 0 0 auto;
}

.input {
  width: 160px;
  height: 44px;
  padding: 8px 12px;
  border: none;
  background: #f7f7f7;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.inputLeft {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid #dadde1;
}

.inputRight {
  border-radius: 0 12px 12px 0;
  border-left: none;
}

.mileageField + .mileageField {
  margin-left: 1px;
}

.mileageFieldsRow .input::placeholder {
  font-weight: 500;
  font-size: 16px;

  line-height: 20px;

  color: #101828;
  font-family: 'Manrope', sans-serif;
}
.button {
  background: #3470ff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;

  line-height: 20px;
  font-family: 'Manrope', sans-serif;
  color: #fff;
}

.button:hover {
  background-color: #005bb5;
}

/* це додаткові  */

.customSelectWrapper {
  position: relative;
  width: 100%;
}

.customSelectInput {
  border-radius: 12px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 204px;
  height: 44px;
  padding: 0 16px;
  background: #f7f7f7;

  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

.optionsList {
  margin-top: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 12px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  border: 1px solid #f7f7f7;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background: #fff;

  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8d929a;
}

.option {
  padding: 10px 12px;
  cursor: pointer;
}

.option:hover {
  color: #101828;
}

.customSelectInput > span {
  flex: 1;
}

.selectIcon {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-top: 63px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    margin-top: 84px;
    margin-bottom: 56px;
  }
}
