.card {
  background-color: transparent;

  width: 100%;
  max-width: 100%;
  height: 424px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  overflow: hidden;
  border-radius: 14px;
  margin-bottom: 16px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.favoriteButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background 0.2s,
    color 0.2s;
}

.favoriteButton:hover {
  background: rgba(0, 0, 255, 0.2);
}

.favoriteButton.active {
  color: blue;
  background: rgba(0, 0, 255, 0.1);
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #101828;
}
.model {
  color: #3470ff;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #101828;
}
.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.location {
  font-weight: 400;
  font-size: 12px;
  font-family: 'Manrope', sans-serif;
  line-height: 16px;

  color: #8d929a;
  margin-bottom: 4px;
}

.typeMileage {
  font-size: 12px;
  color: #666;
}

.readMore {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  background-color: #3470ff;
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  margin-top: 32px;
}

.readMore:hover {
  background-color: #005bb5;
}
