.button {
  padding: 12px 38px;
  background-color: transparent;
  color: #101828;
  border: 1px solid #3470ff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover:not(:disabled) {
  border: 1px solid #0b44cd;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
