.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.heroWrapper {
  width: 100vw; /* на всю ширину екрану */
  background-image: url('/Back-img-1x.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  padding: 336px 0 60px 0;
  text-align: center;
}

.heroTitle {
  color: #fff;
}
.heroSubtitle {
  color: #fff;
}
.heroViewButton {
  margin: 16px auto 0 auto;
  padding: 12px 99px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background-color: #3470ff;
}

.heroViewButtonText {
  text-decoration: none;
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .hero {
    padding: 316px 0 60px 0;
    text-align: center;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
  .hero {
    display: block;
    padding: 436px 0 60px 0;
    text-align: center;

    background-image: url('/Back-img-1x.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .heroTitle {
    width: 783px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
  }

  .heroSubtitle {
    width: 783px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    margin-top: 16px;
    margin: 0 auto;
    text-align: center;
  }

  .heroViewButton {
    margin: 40px auto 0 auto;
    padding: 12px 99px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    background-color: #3470ff;
  }

  .heroViewButtonText {
    text-decoration: none;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
  }

  .viewButton:hover {
    background-color: #0b44cd;
  }
}
/* .container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.hero {
  display: block;
  padding: 436px 0 60px 0;
  text-align: center;

  background-image: url('/Back-img-1x.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroTitle {
  width: 783px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.heroSubtitle {
  width: 783px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-top: 16px;
  margin: 0 auto;
  text-align: center;
}

.heroViewButton {
  margin: 40px auto 0 auto;
  padding: 12px 99px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background-color: #3470ff;
}

.heroViewButtonText {
  text-decoration: none;
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}

.viewButton:hover {
  background-color: #0b44cd;
} */
