.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: flex-end;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menuHeader {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  background-color: #f2f4f7;
  border-bottom: 1px solid #f2f4f7;
  box-sizing: border-box;
}

.logoSvg {
  display: block;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  margin: 0;
  cursor: pointer;
}
.closeButton svg {
  width: 24px;
  height: 24px;
  display: block;
  fill: #000;
}
.menuNav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
}

.navLink {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.navLink.active {
  color: #3470ff;
}
