.page {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
.grid {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr; /* 1 картка в ряд */
  gap: 24px;
  width: 100%;
}

.loadMoreWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.infoText,
.errorText {
  margin-top: 16px;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .page {
    padding: 32px;
    max-width: 768px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 120px 40px;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .grid {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    row-gap: 48px;
  }

  .loadMoreWrapper {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }

  .infoText {
    margin-top: 16px;
    font-size: 14px;
    color: #555;
  }

  .errorText {
    margin-top: 16px;
    font-size: 14px;
    color: #d32f2f;
  }
}
