.page {
  display: flex;
  gap: 72px;
  padding: 40px 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.leftColumn {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.imageWrapper {
  position: relative;
  width: 640px;
  height: 512px;
  margin-top: 84px;
  border-radius: 19px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bookingPlaceholder {
  border-radius: 14px;
  border: 1px dashed #ccc;
  padding: 16px;
  font-size: 14px;
  color: #555;
}

.rightColumn {
  margin-top: 104px;
  width: 488px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 24px;

  line-height: 32px;
  line-height: 133%;

  color: #101828;
}
.idChip {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 20px;
  color: #8d929a;
  margin-left: 16px;
}

.locationIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 4px;
}

.mainInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  /* gap: 12px; */
  font-size: 14px;
  color: #555;
  margin-top: 8px;
}
.location {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  line-height: 20px;

  color: #101828;
}
.mileage {
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  line-height: 20px;

  color: #101828;
}

.priceMileage {
  margin-top: 16px;
  margin-bottom: 32px;
}

.price {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3470ff;
}

.description {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 20px;

  color: #101828;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sectionTitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #101828;
  margin-top: 88px;
  margin-bottom: 20px;
}

.chipsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.chip {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  line-height: 20px;
  line-height: 125%;
  color: #101828;
}

.chipIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
  fill: #101828;
  margin-right: 4px;
}

.specsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
  /* gap: 8px 24px; */
  font-size: 14px;
}

.specsList li {
  display: flex;

  align-items: flex-end;

  font-weight: 500;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  line-height: 20px;

  color: #101828;
}
.specIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
  fill: #101828;
  margin-right: 4px;
}

.chipsList li {
  display: flex;
  align-items: flex-end;

  font-weight: 500;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  line-height: 20px;

  color: #101828;
}
